#LoginBtn {
    height: 70px;
    width: 130px;
    border-radius: 15px;
    border-color: antiquewhite;
    font-size: 20px;
    background-color: #FFB48F;
    margin-top:10px;
    margin-left:1200px;
}

#SignUpBtn {
    height: 70px;
    width: 130px;
    border-radius: 15px;
    border-color: antiquewhite;
    font-size: 20px;
    background-color: #FFB48F; 
    margin-top:10px;
    margin-left: 10px;
}