#btn {
 
        height: 50px;
        width: 100px;
        border-radius: 30px;
        margin-bottom: 30px;
        left: 20px;
        background-color: #249AB4;
   
}
.petBtn {
        margin-bottom: 10px;
}