#bg {
    background-image: url("/src/Components/Background.png");
    background-size: cover;
    height: 837px;
    width:1707px;
    margin-right: 0%;
}

#searchList {
    justify-content: center;
    height: 200px;
   margin-top: 15px;
}
#searchBtn {
    background-color: #ff8c8c;
    border-color: antiquewhite;
}